/*CSS DOCUMENT*/
html {
    height: 100%;
    background-image: url(pho2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media only screen and (max-width: 60em) {
    body {
        width: 80%;
    }
}

img.logo {
width: 50%;
}

img.noodle{
    width: 100%;
}

body{
    font-family: 'Montserrat';
    color:#FFFFFF;
    margin: auto;
    max-width: 70em;
}

h1{
    margin-bottom: 0em;
    text-transform: uppercase;
    font-size: 5em;
}

h2{
    margin:0;
    font-size: 1.7em;
    color:  #3cb371;

}

a{
    text-decoration: none;
    font-weight: bold;
    color:  #3cb371;
}

p{
    letter-spacing: 0.03em;
}

h3{
    text-transform: uppercase;
    background-color: #3cb371;
    padding: 0.3em 0.3em 0.3em 0.3em;
    width: 25%;
    color: #FFFFFF;
    letter-spacing: 0.05em;
}


.navigation ul{
    list-style-type: none;
    float: right;
    margin-top: 0;
}

.navigation li{
    float: left;
    margin-right: 1.5em;
    margin-top: inherit;
}

.location p{
    line-height: 0.5em;
}

.reviews{
    font-style: italic;
    font-size: 0.9em;
    margin-top: 2em;
}

.intro{
    clear: both;
}

.menu{
    clear: both;
}
.menu p{
    margin: 0.5em;
}
.menu h4{
    margin-bottom: 0em;
    font-size: 1.2em;
}

.price{
    font-style: italic;
}

.contact{
    clear: both;
}

.desc{
    color:#3cb371;
    font-weight: bold;
}
